/*#components-layout-demo-top-side-2 .logo {*/
/*    float: left;*/
/*    width: 120px;*/
/*    height: 31px;*/
/*    margin: 16px 24px 16px 0;*/
/*    background: rgba(255, 255, 255, 0.3);*/
/*}*/

/*.ant-row-rtl #components-layout-demo-top-side-2 .logo {*/
/*    float: right;*/
/*    margin: 16px 0 16px 24px;*/
/*}*/

/*.site-layout-background {*/
/*    background: #fff;*/
/*}*/


.content-group-avatar {
    text-align: center;
}

.content-group-name {
    font-size: 36px;
    text-align: center;
}

.content-group-btngroup {
    text-align: center;
}

.content-group-btn {
    margin: 0px 50px 0px 50px;
}

.content-group-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-group-userexcel {
    float: left;
    width: 25%;
    margin: 30px 100px 50px 100px;
}

.content-group-chatexcel {
    float: left;
    width: 25%;
    margin: 30px 100px 50px 100px;
}

