.login-form {
    max-width: 300px;
}
.login-form-forgot {
    float: right;
}
.ant-col-rtl .login-form-forgot {
    float: left;
}
.login-form-button {
    width: 100%;
}

.login-space{
    text-align: -webkit-center;
    margin-top: 150px;
}

.register-form {
    max-width: 600px;
}
.register-form-button {
    width: 100%;
}

.big-logo{
    font-family: YouYuan;
    margin:0 auto;
    font-size: 40px;
    font-size: 40px;
}